*{margin:0;padding:0;box-sizing: border-box;}
a{text-decoration: none;} li{list-style: none;}
.sec-padding{padding:30px 0;}.sec-padding-2{padding:20px 0;}
img{width:100%;}
.btn{display: inline-block; text-decoration: none; padding:5px 10px; background:#6e6e6e; color:#fff;}
.container{width:90%; margin:auto;overflow: hidden;}
.container-fluid{width:100%; margin:auto; padding:0 20px;overflow: hidden;}
.row{display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center;flex-wrap: wrap;}
.row2{display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: flex-start; justify-content: flex-start;flex-wrap: wrap;}
:root{--primary-color:#bf1eec;--secondary-color:#3960e2; --info-color:#7b1bf0;--bg-color:#ddf1f3ce; --danger-color:#6d1629f5;}
body{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f4f4c4;}
 /* ============================= RESPONSIVE  */
@media screen and (min-width:992px) {
    .col-lg-6{flex-basis: 47%; margin:1.5%;}
    .col-lg-4{flex-basis:31%; margin:1%;}
    .col-lg-3{flex-basis: 23%;margin:1%;}
    .col-lg-2{flex-basis:14%; margin:1%;}
}
@media screen and (max-width:991px) {
    .col-md-6{flex-basis: 47%; margin:1.5%;}
    .col-md-4{flex-basis:31%; margin:1%;}
    .col-md-3{flex-basis: 23%;margin:1%;}
    .col-md-2{flex-basis:14%; margin:1%;}
    #toggle-navigation{display: none;}
}
@media screen and (max-width:768px) {
    .col-sm-6{flex-basis: 47%; margin:1.5%;}
    .col-sm-4{flex-basis:31%; margin:1%;}
    .col-sm-3{flex-basis: 23%;margin:1%;}
    .col-sm-2{flex-basis:14%; margin:1%;}
    /* .row,.row2{flex-direction: column;} */
    .navigation .nav{top:151px;}
    .col-md-6{flex-basis: 100%;}
    .col-md-4{flex-basis:100% ;}
    .col-md-3{flex-basis:100% ;}
    .col-md-2{flex-basis:100% ;}
    .col{flex-basis:100% ;}




    /* ---------------------- just  for this project --------- */
    .homecare-content{
        margin-bottom: 30px;
    }
    .challenges-row{
        flex-direction: column;
      }
    .info-box {
        flex-direction: column;
    }
    .info-content.box-bg:first-child {
        border-bottom: 2px solid #fff;
    }
    .info-content ul li {
        position: relative;
        color: #dbd7d7;
        font-size: 16px;
        padding: 5px 0;
      }
      .doctor-img{
        max-width: 100% !important;
      }
}